/* Styles for the components. */
container {
  flex: 1;
}

centeredContainer {
  flex: 1;
  justifycontent: "center";
  alignitems: "center";
}

title {
  fontsize: 24;
  marginbottom: 20;
}

timeText {
  fontsize: 18;
  margintop: 20;
  color: "red";
}
